#main-cat {
    display: block;
    margin: auto;
    width: 30%;
}

h1 {
    color:blue; 
    text-align: center
}

#get-cat > button{
    text-align: center;
    position: absolute;
    top: 50%;
    background-color: cornflowerblue;
    font-size: 18px;
}

#get-cat > p{
    text-align: center;
    position: absolute;
    top: 53%;
    color: orange;
    font-size: 18px
}

#make-cat {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    top: 20%;
    width: fit-content;
    margin: auto;
}